<a href="https://colab.research.google.com/github/kaebmoo/student/blob/main/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**นำเข้าข้อมูล**

In [2]:
import pandas as pd  # type: ignore

#data = pd.read_csv('sampledata.csv')

#print(data.head(5))

data_athlete = pd.read_excel('sampledata.xlsx')
data_nation = pd.read_excel('sampledata.xlsx','Nationality')
data_ht = pd.read_excel('sampledata.xlsx','Ht')

data_ht.iloc[0,0]

180

**อ่านข้อมูล**

In [4]:
##คอลัมน์
#print(data_athlete.columns)

##เจาะจงคอลัมน์
#print(data_athlete['Name'][0:5])
#print(data_athlete.Name[0:5])
#print(data_athlete[['Name','Age']][0:5])

##เจาะจงแถว
#print(data_athlete.iloc[11:16])

##แสดงข้อมูลนักกีฬาที่อายุมากกว่า 30 จำนวน 25 คน
#data_athlete.loc[data_athlete['Age'] > 30][0:25]

##แสดงข้อมูลนักกีฬาสัญชาติเยอรมันจำนวน 20 คน
#data_athlete.loc[data_athlete['Nationality'] == 'Germany'][0:20]

##แสดงข้อมูลนักกีฬาสัญชาติเยอรมันที่อายุมากกว่า 30 จำนวน 20 คน
data_athlete.loc[(data_athlete['Nationality'] == 'Germany') & (data_athlete['Age'] > 30)][0:20]

data_athlete.loc[(data_athlete['Nationality'] == 'Germany')][0:20]


#for index, row in data_athlete.iterrows():
#  print(index, row[['Name','Age']])


##เจาะจงแถวและคอลัมน์
#print(data_athlete.iloc[11,0])

                    Name          Sport Nationality  Age  Wt kg     Ht
36         CHMELAR Fanny  Alpine Skiing     Germany   24   83.0  187.0
59       DUERR Katharina  Alpine Skiing     Germany   20   76.0  176.0
80      GEIGER Christina  Alpine Skiing     Germany   20   66.0  170.0
105       HOELZL Kathrin  Alpine Skiing     Germany   25   60.0  163.0
130      KEPPLER Stephan  Alpine Skiing     Germany   27   92.0  183.0
186     NEUREUTHER Felix  Alpine Skiing     Germany   25   86.0  184.0
222  REBENSBURG Viktoria  Alpine Skiing     Germany   20   66.0  170.0
230         RIESCH Maria  Alpine Skiing     Germany   25   81.0  182.0
231       RIESCH Susanne  Alpine Skiing     Germany   22   79.0  181.0
272        STECHERT Gina  Alpine Skiing     Germany   22   75.0  172.0
318        BACHMANN Tina       Biathlon     Germany   23   65.0  183.0
325         BECK Martina       Biathlon     Germany   30   50.0  156.0
329   BIRNBACHER Andreas       Biathlon     Germany   28   74.0  179.0
376        GREIS Michael       Biathlon     Germany   33   72.0  177.0
384      HAUSWALD Simone       Biathlon     Germany   30   56.0  170.0
385        HENKEL Andrea       Biathlon     Germany   32   50.0  158.0
452         PEIFFER Arnd       Biathlon     Germany   22   82.0  185.0
474        SCHEMPP Simon       Biathlon     Germany   21   71.0  179.0
492    STEPHAN Christoph       Biathlon     Germany   24   85.0  186.0
522         WILHELM Kati       Biathlon     Germany   33   63.0  172.0

**เรียงลำดับข้อมูล, เรียงเลข Index ใหม่ และบันทึกข้อมูล**

In [5]:
new_df = data_athlete.sort_values(['Nationality','Age'], ascending = [1,0])

#new_df = new_df.reset_index(drop = True)

new_df.reset_index(drop = True, inplace = True)

new_df.to_csv('sort_result.csv')

new_df

,Name,Sport,Nationality,Age,Wt kg,Ht
0,TOLA Erjon,Alpine Skiing,Albania,23,74.0,181.0
1,KHELIFI Mehdhi-Selim,Cross-Country Skiing,Algeria,17,65.0,170.0
2,SOULIE Francois,Cross-Country Skiing,Andorra,31,68.0,180.0
3,GUTIERREZ Mireia,Alpine Skiing,Andorra,21,60.0,162.0
4,MARIN TARROCH Lluis,Snowboard,Andorra,21,80.0,186.0
...,...,...,...,...,...,...
2601,NAGASU Mirai,Figure Skating,United States,16,NaN,160.0
2602,CALDWELL Ashley,Freestyle Skiing,United States,16,66.0,170.0
2603,GIMAZETDINOVA Anastasia,Figure Skating,Uzbekistan,29,NaN,180.0
2604,SHAMAEV Oleg,Alpine Skiing,Uzbekistan,27,65.0,180.0
2605,GRIGOREVA Kseniya,Alpine Skiing,Uzbekistan,22,60.0,180.0

**บันทึกข้อมูล**

In [6]:
filtered_df = data_athlete.loc[(data_athlete['Nationality'] == 'Germany') & (data_athlete['Age'] > 30)][0:20]

filtered_df.to_csv('filter_result.csv', index = False)

#filtered_df.to_excel('filtered.xlsx', index = False)

**กรองข้อมูล**

In [10]:
#filtered_df.loc[~filtered_df['Sport'].str.contains('Curling')]

import re

#data_athlete.loc[data_athlete['Sport'].str.contains('Ice Hockey|Curling', regex=True)]

data_athlete.loc[data_athlete['Name'].str.contains('^a[a-z]*', flags=re.I, regex=True)]

                        Name          Sport  Nationality  Age  Wt kg     Ht
0             ABBAS Muhammad  Alpine Skiing     Pakistan   23   55.0  168.0
1         ABRAMASHVILI Iason  Alpine Skiing      Georgia   21   82.0  176.0
2               ACHI Ghassan  Alpine Skiing      Lebanon   16   60.0  168.0
3             ACTON Brigitte  Alpine Skiing       Canada   24   63.0  167.0
4           ALBERTSEN Johnny  Alpine Skiing      Denmark   32   87.0  171.0
...                      ...            ...          ...  ...    ...    ...
2429             AHN Jee-Min  Speed Skating  South Korea   17   52.0  163.0
2430            ANESI Matteo  Speed Skating        Italy   25   79.0  184.0
2431     ANGERMULLER Monique  Speed Skating      Germany   26   71.0  175.0
2432  ANSCHUTZ THOMS Daniela  Speed Skating      Germany   35   62.0  165.0
2433       AYDOVA Yekaterina  Speed Skating   Kazakhstan   18   70.0  164.0

[64 rows x 6 columns]

**การจัดกลุ่ม**

In [ ]:
#data_athlete.groupby(['Sport']).mean().sort_values('Wt kg', ascending=False)

#data_athlete.groupby(['Sport']).count()['Name']

##ตรวจสอบว่าแต่ละประเทศมีนักกีฬากี่คน
data_athlete.groupby(['Nationality']).count().sort_values('Name', ascending=False)['Name']

Nationality
United States     214
Canada            203
Russia            177
Germany           152
Switzerland       145
                 ...
Colombia            1
Chinese Taipei      1
Cayman Islands      1
Bermuda             1
Jamaica             1
Name: Name, Length: 83, dtype: int64

**รวม Worksheets เข้าด้วยกัน**

In [ ]:
#df = pd.concat([data_athlete, data_nation])

#df.to_excel('test_output.xlsx', index=False)

merge_df = pd.merge(data_athlete,data_nation[['Nationality','Alpha code']],on='Nationality')

#merge_df.head(20)

result = merge_df.sort_values(['Nationality'], ascending = True)

result.to_csv('merge_result.csv', index = False)

**กำหนดเกณฑ์ส่วนสูง**

In [ ]:
def height_category (Ht):
  if Ht >= data_ht.iloc[0,0] : #Tall
    return data_ht.iloc[0,1]
  elif Ht >= data_ht.iloc[1,0] : #Medium
    return data_ht.iloc[1,1]
  elif Ht >= data_ht.iloc[2,0] : #Short
    return data_ht.iloc[2,1]
  else :
    return "No Data"

result['Ht Categories'] = result['Ht'].apply(height_category)

result.to_csv('apply_result.csv', index = False)